{% extends 'base.html.twig' %}

{% block title %}Ajouter un Élève{% endblock %}

{% block body %}
    <h1>Ajouter un Élève</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
