{% extends 'base.html.twig' %}

{% block title %}Liste des Cours{% endblock %}

{% block body %}
    <h1>LISTE DES COURS</h1>
    <table>
        {% for e in pCours %}
        <tr>
            <td><a href="{{ path('app_consulter', { 'id': e.id }) }}">{{ e.libelle }}</a></td>
         
        </tr>
        {% else %}
        <tr>
            <td>Aucun Cours n'a été trouvé.</td>
        </tr>
        {% endfor %}
    </table>
	<div class="bouton">
		<a href="{{ path('app_ajouter') }}" class="btn btn-primary">Ajouter un Cours</a>
	</div>
{% endblock %}
